.todayHeader {
    display: flex;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
}

.search {
    width: 30%;
}

.todayForecast {
    
    width: 70%;
}

.history {
    width: 30%;
}

.weekforecast {
    width: 70%;
}